#ambiente
AMBIENTE=desenvolvimento
DEBUG=true

#API
API_TITULO=Nexus - Gerador de Relatórios
API_VERSAO=0.1.0

#banco interno do Nexus
DATABASE_URL=postgresql+psycopg://nexus_admin:nexus_dev_2024@localhost:5432/nexus


# Chave de criptografia para senhas das conexões externas
# Gerada com: Fernet.generate_key()
CHAVE_CRIPTOGRAFIA=VhruMtBADWONpWNyyOaik4RnYmwvkTdYtQ-4WFCWsP0=
